
h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: aquamarine;
    text-align: center;
  }

  h2 {
    text-align: center;
    background-color: aqua;
    flex-wrap: wrap-reverse;
}

ul {
    text-align: center;
    background-color: blueviolet;
}

li {
    text-align: center;
}